@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: DancingScript;
  src: url(../fonts/DancingScript-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

body {
  overflow-x: hidden;
  transition: 0.7s;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

header nav {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  padding: 8px 4px;
}
header nav .header-left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  transition: 0.7s;
}
header nav .header-left-side:hover {
  color: #7954e2;
}
header nav .header-right-side {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 60%;
  justify-content: space-between;
  margin-left: 10px;
}
header nav .header-right-side a {
  position: relative;
  text-align: center;
  overflow: hidden;
}
header nav .header-right-side a::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #7954e2, #301e60);
  height: 2px;
  transition: 0.5s;
}

.header-right-side a:hover::after {
  left: 0;
}

.intro .intro-front {
  display: flex;
  z-index: -1;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 40px auto;
}
.intro h1 {
  color: #2a1454;
  font-size: 2.2em;
  margin-bottom: 20px;
}
.intro h2 {
  background: linear-gradient(to right, #7954e2, #301e60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.intro p {
  color: #140c1c;
  line-height: 30px;
  font-size: 18px;
  margin-right: 20px;
  font-weight: unset;
}
.intro .intro-menu {
  margin: 20px 0px;
}
.intro .intro-menu a {
  border: 1px solid #7954e2;
  border-radius: 12px;
  color: #7954e2;
  transition: 0.7s;
  padding: 10px;
  margin: 0 4px;
}
.intro .intro-menu a:hover {
  border: 1px solid #7954e2;
  color: white;
  transition: 0.7s;
  background-color: #7954e2;
}
.intro .intro-right img {
  transform: rotate(10deg);
  width: 80%;
  border-radius: 16px;
  margin-left: 10px;
  transition: 0.7s;
}
.intro .intro-right img:hover {
  border: 1px solid #7954e2;
  transform: rotate(0);
  transition: 0.7s;
}
.intro .intro-counter {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 100px auto;
}
.intro .intro-counter p {
  font-size: 64px;
  color: #7954e2;
  display: inline-block;
  vertical-align: middle;
}
.intro .intro-counter span {
  color: #7954e2;
  width: 50%;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.recent-works h2 {
  background: linear-gradient(to right, #7954e2, #301e60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}
.recent-works .recent-works-menu {
  background-color: #f6f2fc;
  width: 50%;
  margin: 40px auto;
  border-radius: 24px;
  padding: 8px;
}
.recent-works .recent-works-menu nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.recent-works .recent-works-menu a {
  color: #7954e2;
}
.recent-works .recent-work-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
  gap: 10px; /* Adjust the value as needed */
}
.recent-works .work-tabs {
  position: relative;
  width: 45%;
  overflow: hidden;
  transition: 0.7s;
}
.recent-works .work-tabs:hover .work-box-over {
  bottom: 10%;
  transition: 0.7s;
}
.recent-works .work-tabs img {
  border-radius: 16px;
}
.recent-works .work-box-over {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #7954e2, #301e60);
  border-radius: 24px;
  color: white;
  padding: 1.5em;
  line-height: 20px;
  cursor: pointer;
  bottom: -100%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.7s;
}
.recent-works .work-box-over h3 {
  margin-bottom: 10px;
}

.preview {
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f2fc;
  padding: 12px;
}
.preview h3 {
  background: linear-gradient(to right, #7954e2, #301e60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}
.preview .preview-left {
  width: 50%;
}
.preview .preview-right {
  width: 50%;
}
.preview .preview-box {
  background-color: white;
  border-radius: 16px;
  width: 70%;
  margin: 20px auto;
  height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px 16px;
  transition: 0.7s;
}
.preview .preview-box p {
  color: #7954e2;
  margin: 10px 0;
  width: 100%;
  font-size: 1.2em;
}
.preview .preview-box h4 {
  color: #140c1c;
  font-size: 1.5em;
}

.preview-box {
  transition: 0.7s;
}
.preview-box:hover {
  background: #301e60;
  transition: 0.7s;
}
.preview-box:hover p {
  color: white;
}
.preview-box:hover h4 {
  color: white;
}

.blog {
  margin-top: 40px;
}
.blog h2, .blog p {
  text-align: center;
  width: 80%;
  margin: 40px auto;
}
.blog h2 {
  background: linear-gradient(to right, #7954e2, #301e60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}
.blog .blog-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 16px;
}
.blog .blog-box img {
  border-radius: 16px;
}
.blog .blog-box .blog-items {
  margin: 10px;
  position: relative;
  transition: 0.7s;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
}
.blog .blog-box .blog-items:hover img {
  transform: scale(1.1);
  transition: 0.7s;
  border-radius: 16px;
}
.blog .blog-box .blog-items img {
  transition: 0.7s;
  border-radius: 16px;
}
.blog .blog-box .blog-items:hover .blog-over {
  background-color: #7954e2;
  transition: 0.7s;
  color: white;
}
.blog .blog-box .blog-items .blog-over {
  background-color: white;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 16px;
  bottom: 10%;
  padding: 12px;
  line-height: 20px;
}

.lets-work {
  margin-top: 120px;
  background-color: #f6f2fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
}
.lets-work h3 {
  background: linear-gradient(to right, #7954e2, #301e60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}
.lets-work .lets-work-left {
  width: 50%;
  margin: 0 auto;
}
.lets-work .lets-work-left p {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.lets-work .lets-work-left .field {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  display: inline-block;
  margin: 40px auto;
}
.lets-work .lets-work-left .field input {
  width: 40%;
  border-radius: 16px;
  outline: none;
  border: none;
  padding: 32px;
  margin: 10px;
}
.lets-work .lets-work-right {
  width: 50%;
  width: 50%;
  margin: 0 auto;
}
.lets-work .lets-work-right .lets-box {
  margin: 20px;
  transition: 0.7s;
}
.lets-work .lets-work-right .lets-box:hover p {
  transition: 0.7s;
  color: #7954e2;
}
.lets-work .lets-work-right svg {
  background-color: #301e60;
  color: white;
  padding: 16px;
  border-radius: 50%;
  vertical-align: middle;
}
.lets-work .lets-work-right p, .lets-work .lets-work-right h4 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1.2em;
}
.lets-work .lets-work-right p {
  width: 50%;
}

footer {
  text-align: center;
  background-color: #2a1454;
  padding: 32px;
}
footer .footer-menu {
  margin: 20px 0;
}
footer a {
  padding: 16px;
  color: #f6f2fc;
}
footer img {
  width: 10%;
}
footer p {
  color: #f6f2fc;
}

.toolbar {
  position: fixed;
  cursor: pointer;
  right: 2%;
  bottom: 5%;
}
.toolbar svg {
  background-color: #7954e2;
  border-radius: 50%;
  color: white;
  padding: 8px;
}
.toolbar div {
  margin-bottom: 8px;
}

.accessibility-options {
  visibility: hidden;
  background-color: rgba(122, 84, 226, 0.8549019608);
  padding: 16px;
  text-align: center;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  border-radius: 16px;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.accessibility-options .close {
  text-align: left;
  width: 100%;
  cursor: pointer;
}
.accessibility-options .accessibility-items {
  background-color: #f6f2fc;
  text-align: center;
  cursor: pointer;
  color: #140c1c;
  margin-bottom: 10px;
  margin: 20px auto;
  padding: 16px;
  border-radius: 16px;
}
.accessibility-options p {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}
.accessibility-options svg {
  vertical-align: middle;
  margin-left: 20px;
}

.show {
  visibility: visible !important;
  margin: 0 !important;
}

.focus-mode::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle 80px at var(--x) var(--y), rgba(0, 0, 0, 0) 0%, rgba(20, 12, 28, 0.6862745098) 100%);
  pointer-events: none;
}

#hire-me {
  background: linear-gradient(to right, #7954e2, #301e60);
  border-radius: 24px;
  padding: 1em;
  color: white;
  background-size: 200% 100%;
  transition: background-position 0.7s ease-in-out;
}
#hire-me::after {
  content: unset;
}
#hire-me:hover {
  background-position: -100% 0;
}

#all {
  background: linear-gradient(to right, #7954e2, #301e60);
  border-radius: 24px;
  color: white;
  background-size: 200% 100%;
  transition: background-position 0.7s ease-in-out;
  padding: 16px 24px;
}
#all::after {
  content: unset;
}

#message {
  padding: 64px;
}/*# sourceMappingURL=main.css.map */