.dark-mode{
    transition: 0.7s;
   background-color: #140c1c !important;
   p,a,h1,span,h4{
    color: #f6f2fc;
   }
   .recent-works-menu{
    background-color: #261733;
   }
   .lets-work{
    background-color: #291938 !important;
   }
   .preview{
    background-color: #261733 !important;
   }
   .accessibility-items{
    p{
        color: #140c1c;
    }
   }
   .blog{

    span{
        color: #140c1c !important;
    }
    .blog-items{
        &:hover .blog-over{
            background-color: #7954e2;
            transition: 0.7s;
            span{
                color: #f6f2fc !important;
            }
        }
   }

}
footer{
    background-color: #140c1c !important;
}
}
.line-fix{
    a{
        margin:0 16px;
    }

}
