#hire-me {
  background: linear-gradient(to right, #7954e2, #301e60);
  border-radius: 24px;
  padding: 1em;
  color: white;
  background-size: 200% 100%;
  transition: background-position 0.7s ease-in-out;
  &::after{
    content: unset;
  }
  &:hover {
    background-position: -100% 0;
  }
}
#all{
  background: linear-gradient(to right, #7954e2, #301e60);
  border-radius: 24px;
  color: white;
  background-size: 200% 100%;
  transition: background-position 0.7s ease-in-out;
  padding: 16px 24px;
  &::after{
    content: unset;
  }
}
#message{
  padding: 64px;
}
