@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: DancingScript;
    src: url(../fonts/DancingScript-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}
body{
  overflow-x: hidden;
    transition: 0.7s;
    position: relative;
}
html{
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}